<div class="container">
  <div class="row">
    <!-- サイドバー -->
    <div class="col-md-3">
      <%= render partial: 'books/user_info', locals: { user: @user, book: Book.new } %>
    </div>

    <!-- メインコンテンツ -->
    <div class="col-md-8 offset-md-1">
      <h1>Users users index </h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <th>
              <%= image_tag user.get_profile_image(100,100) %>
            </th>
            <th>
              <%= user.name %>
            </th>
            <th><%= link_to "Show", user_path(user) %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
